
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h3>About</h3>

    <div class="border border-light">
        <p>it's a website! wow</p>
        <p>im sorry i did not complete more of the website, i work full time and i am a slower learner with c#. :(</p>
        <p>but thank you for teaching! even if it was short and hard for me to understand, i enjoy web dev. i hope to use this in the future :)</p>
    </div>
</body>
</html>
